.CVbody{
    width:210mm;
    height: 297mm;
    background-color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#cvTitle{
    font-size: 28px;
    font-weight: 600;
}
#cvContainer{
    display: flex;
    justify-content: center;
    
}

#cvSubTitle{
    display: flex;
    justify-content: space-evenly;
    width:50%;
    font-size: 16px;
    
}

.sectionTitle{
    border-bottom: 1px solid #CCCCCC;
    min-width: 100%;
    text-align: left;
}