.educationSection{
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    min-width: 160mm;

}

.educationDiv{
    margin-bottom: 20px;
}

.collegeTitle{
    font-size: 20px;
    font-weight: 600;
}